body {
  background-attachment: fixed; /* optional: keeps it still on scroll */
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, #fddb92 0%, #baf7fa 100%);
  min-height: 100vh;
}
@media (max-width: 600px) {
  body {
    background: none;
  }
}
