.weather-icon {
  position: relative;
  top: 15px;
  right: 20px;
}
.temperature {
  font-size: 85px;
  font-weight: 700;
  position: relative;
  bottom: 10px;
}
.degrees {
  font-size: 25px;
  position: relative;
  bottom: 50px;
}
