.list {
  list-style: none;
}

.background-color-dark {
  background-color: rgb(97, 179, 172);
}
.background-color-light {
  background-color: rgb(242, 247, 247);
}
.search-input {
  appearance: none;
}
.App-title-font {
  font-size: 35px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .App-title-font {
    font-size: 35px;
    font-weight: 600;
  }
}
