.weather-icon {
  position: relative;
  top: 15px;
  right: 20px;
}
.temperature {
  font-size: 90px;
  font-weight: 600;
  position: relative;
  bottom: 18px;
  right: 10px;
}
.degrees {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  bottom: 60px;
  right: 10px;
}

@media (max-width: 600px) {
  .temperature {
    font-size: 80px;
  }
  .degrees {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    bottom: 55px;
  }
  .weather-icon {
    position: relative;
    top: 5px;
  }
  .city-name {
    font-size: 50px;
  }
}
